
<div class="container-fluid">
  <br><br>
    <div class="row">
      <div class="col-md-8">
        <form role="form">
      <legend>Uzupelnij dane:</legend>
      <div class="form-group">
          <label for="exampleInputName">Imię:</label>
          <input type="text" class="form-control" id="exampleInputName" placeholder="Podaj imie">
      </div>
      <div class="form-group">
          <label for="exampleInputLastName">Nazwisko:</label>
          <input type="text" class="form-control" id="exampleInputLastName" placeholder="Podaj nazwisko">
      </div>
      <div class="form-group">
          <label for="exampleInputMail">E-mail:</label>
          <input type="email" class="form-control" id="exampleInputMail" placeholder="Podaj email">
      </div>
      <input type="radio" name="gender" value="male">
      Mężczyzna
      <input type="radio" name="gender" value="female">
      Kobieta
      <br />
      <div class="form-group">
          <label for="age">Wiek</label>
          <input type="number" class="form-control" id="age" aria-describedby="emailHelp" placeholder="Podaj wiek">
      </div>
      <label for="opis"></label>
      <textarea id="opis" rows="4" cols="50"></textarea>
      <br />
      <label for="maritial">Stan Cywilny</label>
      <select id="maritial" name="maritial" required>
          <option>Panna/Kawaler</option>
          <option>Mężatka/Żonaty</option>
          <option>Wdowa/Wdowiec</option>
      </select>
      <br />
      <button type="button" style="width:100px; height:30px;">Wyczyść</button>
      <button type="button" style="width:100px; height:30px;">Wyślij</button>
  
  </form>
  </div>
  </div>
  </div>
