
<section class="signup">
  <br><br>
  <div align="center">
    <div class="col-md-5">


      <form class="form-horizontal" method="post" name="signup" id="signup">


        <h1><legend>Uzupelnij dane:</legend></h1>
        <div align="left">

          <div class="form-group">
            <label class="control-label col-sm-3">Imię:</label>
            <div class="col-md-16 ">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="name" class="form-control" name="nameid" id="firstnameid" placeholder="Podaj imię"
                       value="" [(ngModel)]="credentials.firstname">
              </div>
            </div>
          </div>


          <div class="form-group">
            <label class="control-label col-sm-3">Nazwisko:</label>
            <div class="col-md-16 ">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="lastname" class="form-control" name="lastnameid" id="lastnameid" placeholder="Podaj nazwisko"
                       value="" [(ngModel)]="credentials.lastname">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Login:</label>
            <div class="col-md-16">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="name" class="form-control" name="nameid" id="nameid" placeholder="Podaj login"
                       value="" [(ngModel)]="credentials.name">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Hasło:</label>
            <div class="col-md-16">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="password" class="form-control" name="passwordid" id="passwordid" placeholder="Podaj hasło"
                       value="" [(ngModel)]="credentials.password">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Email:</label>
            <div class="col-md-16">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="email" class="form-control" name="emailid" id="emailid" placeholder="Podaj email"
                       value="" [(ngModel)]="credentials.email">
              </div>
            </div>
          </div>
        </div>
        <br />


          <!--<button (click)="create()" name="Submit" type="submit" class="btn btn-lg btn-pink btn-block">Zarejestruj
      </button>  -->
          <div class="form-group">
            <div class="col-xs-offset-3 col-xs-10">
              <button (click)="create()" name="Submit" type="submit" class="btn btn-default">Zarejestruj
              </button>
            </div>
          </div>

      </form>
    </div>
  </div>

</section>
<!--
<section class="signup">
  <h1 class="entry-title"><span>Zarejestruj się</span></h1>
  <hr>
  <form class="form-horizontal" method="post" name="signup" id="signup">
    <div class="form-group">
      <label class="control-label col-sm-3">Email<span class="text-danger">*</span></label>
      <div class="col-md-8 col-sm-9">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <input type="email" class="form-control" name="emailid" id="emailid" placeholder="Podaj swój email"
                 value="" [(ngModel)]="credentials.email">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Ustaw hasło<span class="text-danger">*</span></label>
      <div class="col-md-5 col-sm-8">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" class="form-control" name="password" id="password"
                 placeholder="Wpisz hasło (5-15 znaków)" value="" [(ngModel)]="credentials.password">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Potwierdź hasło <span class="text-danger">*</span></label>
      <div class="col-md-5 col-sm-8">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" class="form-control" name="cpassword" id="cpassword"
                 placeholder="Potwierdź hasło" value="">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Podaj imię <span class="text-danger">*</span></label>
      <div class="col-md-8 col-sm-9">
        <input type="text" class="form-control" name="mem_name" id="mem_name" placeholder="Wpisz imię" value=""
               [(ngModel)]="credentials.name">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-3 col-xs-10">
        <button (click)="create()" name="Submit" type="submit" class="btn btn-primary">Zarejestruj
        </button>
      </div>
    </div>
  </form>
</section>
-->
